
<h1>새 게시글 작성</h1>
<form action="/write" method="post">
  <label>제목: <input type="text" name="title"></label><br>
  <label>작성자: <input type="text" name="author"></label><br>
  <label>내용:<br>
    <textarea name="content"></textarea>
  </label><br>
  <input type="submit" value="게시">
</form>
